<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate"/>
        <meta http-equiv="Cache-Control" content="post-check=1, pre-check=2"/>
        <meta http-equiv="Expires" content="-1"/>
        <title>My Business Account</title>
        <link rel="stylesheet" type="text/css" href="/static/css/fixedWidth.css"/>
        <link type="text/css" href="/static/css/blitzer/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.utils.js"></script>
        <script type="text/javascript" src="/static/js/widgets/utils.js"></script>
        <script type="text/javascript" src="/static/js/jquery.payload.utils.js"></script>
        <script type="text/javascript" src="/static/js/widgets/jquery.header.js"></script>
        <script type="text/javascript">
        	var user = $user;
            $(document).ready(function() {
            	$.header.init(['myaccount','myorders','bizreg','myoffers','newoffer','signout']);
            });
        </script>

    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="header_icon">&nbsp;</div>
                <div class="account"></div>
            </div>
            <div class="content" id="regform">
                <div class="gridContent"  >
                    <div class="row">
                        <div class="cell regform signinLeftContent" id="formcell">
                            <ol>
                                <li>
                                    <label id="title">My Business Account</label>
                                </li>
                                  <li>
                                    <label id="errorMsg">&nbsp;</label>
                                </li>
								<li id="biznameli">
                                	<label for="bizname" id="biznamelabel">Name</label>
                                    <label id="bizname">$biz.getINode("name").getValue().toString()</label>
                               	</li>
                               	#if($biz.getINode("description").getValue())
                                <li id="descriptionli">
                                	<label for="description" id="descriptionlabel" >Description</label>
                                	<label id="description">$biz.getINode("description").getValue().toString()</label>
                                </li>
                                #end
								<li id="bizlogoli">
                                	<label for="bizlogo" id="bizlogolabel">Logo</label>
                                    <img src="http://${imagesUrl}$biz.getINode("logo").getValue().toString()">
                               	</li>
                               	#if($biz.getINode("email").getValue())
                               <li id="emailli">
                                    <label for="email" id="emaillabel">Email</label>
                                    <label id="email">$biz.getINode("email").getValue().toString()</label>
                               </li>
                               #end
                               <li id="phoneli">
                                    <label for="phone" id="phonelabel">Phone</label>
                                    <label id="phone">$biz.getINode("phone").getValue().toString()</label>
                               </li>
                               #set( $loc = $biz.getINode("locations").getIObjectValue().toArray()[0])
                               <li id="streetli">
                                    <label for="street" id="streetlabel">Street</label>
                                    <label id="street">$loc.getINode("street").getValue().toString()</label>
                               </li>
                               <li id="cityli">
                                    <label for="city" id="citylabel">City</label>
                                    <label id="city">$loc.getINode("city").getValue().toString()</label>
                               </li>
                               <li id="stateli">
                                    <label for="state" id="statelabel">State</label>
                                    <label id="state">$loc.getINode("state").getValue().toString()</label>
                               </li>
                               <li id="zipcodeli">
                                    <label for="zipcode">Zipcode</label>
                                    <label id="zipcode">$loc.getINode("zipcode").getValue().toString()</label>
                               </li>                                <li id="butcell">
                                    <button type="submit" id="submitButton" onclick="window.location = '/updatemybiz';">
                                        Update 
                                    </button>
                                    &nbsp;
                                    <button type="button" id="cancelButton" onclick="window.location = '/myaccount';">
                                        Cancel
                                    </button>
                                </li>
                            </ol>
                        </div>
                        <div class="cell">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            #parse("footer.vm")
        </div>
    </body>
</html>
