<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate"/>
        <meta http-equiv="Cache-Control" content="post-check=1, pre-check=2"/>
        <meta http-equiv="Expires" content="-1"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>Merchant Registration Confirmation</title>
        <link rel="stylesheet" type="text/css" href="/static/css/fixedWidth.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.utils.js"></script>
        <script type="text/javascript" src="/static/js/widgets/utils.js"></script>
        <script type="text/javascript" src="/static/js/widgets/jquery.bizreg.js"></script>
        <script type="text/javascript" src="/static/js/jquery.payload.utils.js"></script>
        <script type="text/javascript" src="/static/js/widgets/jquery.header.js"></script>
        <script type="text/javascript">
        	var user = $user;
            $(document).ready(function(){
            	$.header.init(['myaccount','myorders','signout']);
            });
        </script>

    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="header_icon">&nbsp;</div>
                <div class="account"></div>
            </div>
            <div class="content" id="regform">
                <div class="gridContent"  >
                    <div class="row">
                        <div class="cell regform signinLeftContent">
                        	Thank you. Your Business has been registered.
                        </div>
                    </div>
                </div>
            </div>
            #parse("footer.vm")
        </div>
    </body>
</html>
